.gridRow {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;

    .colWd-1{
        display: flex;
        flex: calc(1/15);
    }
    .colWd-2{
        display: flex;
        flex: calc(2/15);
    }
    .colWd-3{
        display: flex;
        flex: calc(3/15);
    }
    .colWd-4{
        display: flex;
        flex: calc(4/15);
    }
    .colWd-5{
        display: flex;
        flex: calc(5/15);
    }
    .colWd-6{
        display: flex;
        flex: calc(6/15);
    }
    .colWd-7{
        display: flex;
        flex: calc(7/15);
    }
    .colWd-8{
        display: flex;
        flex: calc(8/15);
    }
    .colWd-9{
        display: flex;
        flex: calc(9/15);
    }
    .colWd-10{
        display: flex;
        flex: calc(10/15);
    }
    .colWd-11{
        display: flex;
        flex: calc(11/15);
    }
    .colWd-12{
        display: flex;
        flex: calc(12/15);
    }
    .colWd-13{
        display: flex;
        flex: calc(13/15);
    }
    .colWd-14{
        display: flex;
        flex: calc(14/15);
    }
    .colWd-15{
        display: flex;
        flex: calc(15/15);
    }

    &.rowLeft{
        justify-content: flex-start;
        justify-items: flex-start;
    }
    &.rowRight{
        justify-content: flex-end;
        justify-items: flex-end;
    }
    &.rowCenter{
        justify-content: center;
        justify-items: center;
    }
    &.rowTop{
        align-items: flex-start;
        align-content: flex-start;
    }
    &.rowBottom{
        align-items: flex-end;
        align-content: flex-end;
    }
    &.rowMiddle{
        align-items: center;
        align-content: center;
    }
}
  
/* Define the row height classes */
.rowHi-auto{
    height: max-content;
}
.rowHi-1 {
    height: 10vh; /* Take up 10% of the viewport height */
}

.rowHi-2 {
    height: 20vh; /* Take up 20% of the viewport height */
}

.rowHi-3 {
    height: 30vh; /* Take up 30% of the viewport height */
}

.rowHi-4 {
    height: 40vh; /* Take up 40% of the viewport height */
}

.rowHi-5 {
    height: 50vh; /* Take up 50% of the viewport height */
}

.rowHi-6 {
    height: 60vh; /* Take up 60% of the viewport height */
}

.rowHi-7 {
    height: 70vh; /* Take up 70% of the viewport height */
}

.rowHi-8 {
    height: 80vh; /* Take up 80% of the viewport height */
}

.rowHi-9 {
    height: 90vh; /* Take up 90% of the viewport height */
}

.rowHi-10 {
    height: 100vh; /* Take up 100% of the viewport height */
}