@import "variables";

/* Navigation Bar Base */
.navbar {
    display: flex;
    align-items: center;

    .navbar-group {
        display: flex;
        flex: 1;

        &.align-left {
            margin-left: 0;
            justify-content: flex-start;

            * {
                margin-right: 0.4rem;
            }
        }
        &.align-right {
            margin-left: auto;
            justify-content: flex-end;

            * {
                margin-left: 0.4rem;
            }
        }
        &.align-center {
            margin: 0 auto;
            justify-content: center;

            * {
                margin: 0 0.4rem;
            }
        }
    }

    .navbar-item, .navbar-brand {
        font-size: 1.2rem;
        font-weight: 500;
        border: 2px solid transparent;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        color: var(--body-text);

        &.outline {
            border: 2px solid var(--body-text);
        }
        &.underline {
            border-bottom: 2px solid var(--body-text);
        }
        &.solid {
            background-color: var(--brand-color);
            color: var(--high-contrast-text);
        }
        &:hover {
            filter: contrast(125%);
            transition: 360ms;
        }
        &:active {
            filter: contrast(125%) saturate(160%);
        }
    }

    .navbar-brand {
        font-size: 1.6rem;
        font-weight: bold;
    }
}

/* Side Navigation */
.sidenav {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;

    .sidenav-group {
        display: flex;
        flex-direction: column;
        flex: 1;

        &.align-top {
            justify-content: flex-start;

            * {
                margin-top: 0.4rem;
            }
        }
        &.align-bottom {
            justify-content: flex-end;

            * {
                margin-bottom: 0.4rem;
            }
        }
        &.align-middle {
            align-content: center;

            * {
                margin: 0 0.4rem;
            }
        }
    }

    .sidenav-item, .sidenav-title, .sidenav-brand {
        font-size: 0.9rem;
        font-weight: 500;
        border: 2px solid transparent;
        padding: 0.5rem 0.8rem;
        cursor: pointer;

        &.outline {
            border: 2px solid var(--body-text);
        }
        &.underline {
            border-bottom: 2px solid var(--body-text);
        }
        &.solid {
            background-color: var(--brand-color);
            color: var(--high-contrast-text);
        }
        &:hover {
            filter: contrast(125%);
            transition: 360ms;
        }
        &:active {
            filter: contrast(125%) saturate(160%);
        }
    }

    .sidenav-item {
        color: var(--body-text);

        &:hover {
            background-color: var(--accent-color);
        }
        &:active {
            background-color: var(--info-color);
        }
        &.active {
            background-color: var(--info-color);
            filter: saturate(160%) contrast(200%);
        }
    }

    .sidenav-brand {
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0.25rem; // Customize as needed
    }

    .sidenav-title {
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--body-text);
        border-radius: 0.25rem; // Customize as needed
    }
}
