@import "variables";

// golden ratio sizes
$gr102: 1.75rem;
$gr175: 2.83rem;
$gr066: 1.08rem;

*{
    font-weight: regular;
}

// text sizes
h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    width: inherit;
}
.title{
    font-size: $gr175;
    font-weight: 800;
    padding: 0rem 2vw 0rem 0rem;
}
.subtitle{
    font-size: $gr102;
    padding: 0rem 2vw 0rem 0rem;
}
.text{
    font-size: $gr066;
    padding: 0rem 2vw 0rem 0rem;
}


//text styles
.bold{
    font-weight: bold;
}
.italic{
    font-family: italic;
}
.underline{
    text-decoration: underline;
}

// text aligners
.taCenter{
    text-align: center;
}
.taLeft{
    text-align: left;
}
.taRight{
    text-align: right;
}
.taJustify{
    text-align: justify;
}
.noDecoration{
    text-decoration: none;
}
ul, ol{
    margin-left: 1rem;
}

//Object aligners
.objAligner{
    display: flex;

    .objLeft{
        display: block;
        margin-left: 0;
    }
    .objRight{
        display: block;
        margin-left: auto;
    }
    .objCenter{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .objTop{
        align-self: top;
    }
    .objBottom{
        align-self: bottom;
    }
    .objMiddle{
        align-self: center;
    }
    
}

//codeblocks
.inlineCode{
    color: $accentText;
    padding: 0 0.2rem;
    font-family: monospace;
    font-style: italic;
    font-size: $gr066;
}
.codeBlock{
    margin: 1rem 2vw 0.5rem 0rem;

    .codeLanguage{
        width: 100%;
        padding: 0.4rem 0.6rem;
        font-size: $gr066;
        font-weight: bold;
    }
    .codeText{
        white-space: pre;
        text-wrap: wrap;
        padding: 1rem 0.6rem;
        font-family: monospace;
        font-weight: 400;
    }
    
}
.previewBlock{
    margin: 1rem 2vw 0.5rem 0rem;

    .previewTitle{
        width: 100%;
        padding: 0.4rem 0.6rem;
        font-size: $gr066;
        font-weight: bold;
    }
    .previewRender{
        display: block;
        padding: 1rem 0.6rem;
        font-weight: 400;
    }
    
}