.smoothEdge{border-radius: 0.2rem};
.smootherEdge{border-radius: 0.4rem};
.roundedEdge{border-radius: 1rem};
.circularEdge{border-radius: 100%};

//helpers
.paddingSmall{
    padding: 0.5rem 1.25rem;
}
.marginSmall{
    padding: 4px 10px;
}
.noBorders{
    border: none;
}

// background colors
.bgDark{
    background: #0e0e0e;
}
.bgLight{
    background: #fafafa;
}
.bgBrand{
    background: $brandColor;
}
.bgAccent{
    background: $brandAccent;
}

// text colors
.textDark{
    color: #0e0e0e;
}
.textLight{
    color: #fafafa;
}
.textBrand{
    color: $brandColor;
}
.textAccent{
    color: $brandAccent;
}

.border{
    // border styles
    &.styleSolid{
        border-style: solid;
    }
    &.styleDashed{
        border-style: dashed;
    }
    &.styleDbldash{
        border-style: double;
    }
    &.styleDotted{
        border-style: dotted;
    }

    // border sides
    &.onlyLeft{
        border-right: none;
        border-top: none;
        border-bottom: none;
    }
    &.onlyRight{
        border-left: none;
        border-top: none;
        border-bottom: none;
    }
    &.onlyTop{
        border-right: none;
        border-left: none;
        border-bottom: none;
    }
    &.onlyBottom{
        border-right: none;
        border-top: none;
        border-left: none;
    }

    // border size
    &.thin{
        border-width: 1px;
    }
    &.fit{
        border-width: 2px;
    }
    &.fat{
        border-width: 4px;
    }
    &.obese{
        border-width: 8px;
    }
    
    // border colors
    &.colorDark{
        border-color: #0e0e0e;
    }
    &.colorLight{
        border-color: #fafafa;
    }
    &.colorBrand{
        border-color: $brandColor;
    }
    &.colorAccent{
        border-color: $brandAccent;
    }
    &.colorTransparent{
        border-color: $brandAccent;
    }

}