
.smoothEdge{border-radius: 0.2rem};
.smootherEdge{border-radius: 0.4rem};
.roundedEdge{border-radius: 1rem};
.circularEdge{border-radius: 100%};

//helpers
.paddingSmall{
    padding: 0.5rem 1.25rem;
}
.marginSmall{
    padding: 4px 10px;
}
.noBorders{
    border: none;
}