//Grid Variables
$partitions: 15;
$gutters: 60;

//Global Variables - Dark Colors
$primaryBackground: #0e105a;
$primaryText: #fafafa;
$brandColor: $primaryBackground;

$accentBackground: #3e40ba;
$accentText: #eaeaea;
$brandAccent: $accentBackground;

/*
//Global Variables - Light
$primaryBackground: #0e115a;
$primaryText: #1e1e1e;

$accentBackground: #3e40ba;
$accentText: #0e0e0e;
*/


//Navigation Variables
$sidenavBackdropFilter: saturate(180%) contrast(120%) blur(4px);
$sidenavTitleColor: $primaryText;
$sidenavItemColor: $accentText;
$sidenavBrandBR: 0px;
$sidenavTitleBR: 3px;
$sidenavItemBR: 5px;
