/* Define the pageView class */
.pageView {
  height: inherit; /* Inherit the height from the parent element */
  width: inherit; /* Inherit the width from the parent element */
  overflow: auto; /* Hide the overflow content */
  position: relative; /* Set the position to relative */
}

/* Define the listViewHorizontal class */
.listViewHorizontal {
  height: initial; /* Inherit the height from the parent element */
  width: inherit; /* Inherit the width from the parent element */
  overflow-y: auto; /* Hide the horizontal overflow content */
  overflow-y: hidden; /* Make the view vertically scrollable */
  position: relative; /* Set the position to relative */
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  
  *{
    flex: 1;
  }
}

/* Define the listViewVertical class */
.listViewVertical {
  height: inherit; /* Inherit the height from the parent element */
  width: inherit; /* Inherit the width from the parent element */
  overflow-x: hidden; /* Hide the horizontal overflow content */
  overflow-y: auto; /* Make the view vertically scrollable */
  position: relative; /* Set the position to relative */
}

/* Define the contentView class */
.contentView {
  height: 100%; /* Takes up 100% height from the parent element */
  width: 100%; /* Takes up 100% width from the parent element */
  overflow: auto; /* Hide the overflow content */
  position: relative; /* Set the position to relative */
}