@import "variables";

// Page View Styles
.page-view {
  height: inherit; // Inherit the height from the parent element
  width: inherit; // Inherit the width from the parent element
  overflow: auto; // Allow scrolling for overflow content
  position: relative; // Set the position to relative
}

// Horizontal List View Styles
.list-view-horizontal {
  height: auto; // Reset height to allow flexibility
  width: inherit; // Inherit the width from the parent element
  overflow-y: hidden; // Hide vertical overflow content
  overflow-x: auto; // Enable horizontal scrolling
  position: relative; // Set the position to relative
  display: flex;
  flex-wrap: nowrap; // Ensure items don't wrap
  flex-grow: 1;

  * {
    flex: 1; // Distribute child elements evenly
  }
}

// Vertical List View Styles
.list-view-vertical {
  height: inherit; // Inherit the height from the parent element
  width: inherit; // Inherit the width from the parent element
  overflow-x: hidden; // Hide horizontal overflow content
  overflow-y: auto; // Enable vertical scrolling
  position: relative; // Set the position to relative
}

// Content View Styles
.content-view {
  height: 100%; // Take up full height of parent
  width: 100%; // Take up full width of parent
  overflow: auto; // Allow scrolling for overflow content
  position: relative; // Set the position to relative
}
