/*normalize basic stuff for all css elements*/
*{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

@import "grids";
@import "views";
@import "navigators";
@import "typography";
@import "utils";
@import "rules";