/*normalize basic stuff for all css elements*/
* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  outline: none;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  line-height: 1.2;
}

.gridRow {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
}
.gridRow .colWd-1 {
  display: flex;
  flex: 0.0666666667;
}
.gridRow .colWd-2 {
  display: flex;
  flex: 0.1333333333;
}
.gridRow .colWd-3 {
  display: flex;
  flex: 0.2;
}
.gridRow .colWd-4 {
  display: flex;
  flex: 0.2666666667;
}
.gridRow .colWd-5 {
  display: flex;
  flex: 0.3333333333;
}
.gridRow .colWd-6 {
  display: flex;
  flex: 0.4;
}
.gridRow .colWd-7 {
  display: flex;
  flex: 0.4666666667;
}
.gridRow .colWd-8 {
  display: flex;
  flex: 0.5333333333;
}
.gridRow .colWd-9 {
  display: flex;
  flex: 0.6;
}
.gridRow .colWd-10 {
  display: flex;
  flex: 0.6666666667;
}
.gridRow .colWd-11 {
  display: flex;
  flex: 0.7333333333;
}
.gridRow .colWd-12 {
  display: flex;
  flex: 0.8;
}
.gridRow .colWd-13 {
  display: flex;
  flex: 0.8666666667;
}
.gridRow .colWd-14 {
  display: flex;
  flex: 0.9333333333;
}
.gridRow .colWd-15 {
  display: flex;
  flex: 1;
}
.gridRow.rowLeft {
  justify-content: flex-start;
  justify-items: flex-start;
}
.gridRow.rowRight {
  justify-content: flex-end;
  justify-items: flex-end;
}
.gridRow.rowCenter {
  justify-content: center;
  justify-items: center;
}
.gridRow.rowTop {
  align-items: flex-start;
  align-content: flex-start;
}
.gridRow.rowBottom {
  align-items: flex-end;
  align-content: flex-end;
}
.gridRow.rowMiddle {
  align-items: center;
  align-content: center;
}

/* Define the row height classes */
.rowHi-1 {
  height: 10vh; /* Take up 10% of the viewport height */
}

.rowHi-2 {
  height: 20vh; /* Take up 20% of the viewport height */
}

.rowHi-3 {
  height: 30vh; /* Take up 30% of the viewport height */
}

.rowHi-4 {
  height: 40vh; /* Take up 40% of the viewport height */
}

.rowHi-5 {
  height: 50vh; /* Take up 50% of the viewport height */
}

.rowHi-6 {
  height: 60vh; /* Take up 60% of the viewport height */
}

.rowHi-7 {
  height: 70vh; /* Take up 70% of the viewport height */
}

.rowHi-8 {
  height: 80vh; /* Take up 80% of the viewport height */
}

.rowHi-9 {
  height: 90vh; /* Take up 90% of the viewport height */
}

.rowHi-10 {
  height: 100vh; /* Take up 100% of the viewport height */
}

/* Define the pageView class */
.pageView {
  height: inherit; /* Inherit the height from the parent element */
  width: inherit; /* Inherit the width from the parent element */
  overflow: auto; /* Hide the overflow content */
  position: relative; /* Set the position to relative */
}

/* Define the scrollViewHrzn class */
.scrollViewHrzn {
  height: inherit; /* Inherit the height from the parent element */
  width: inherit; /* Inherit the width from the parent element */
  overflow-x: auto; /* Make the view horizontally scrollable */
  overflow-y: hidden; /* Hide the vertical overflow content */
  position: relative; /* Set the position to relative */
  white-space: nowrap; /* Prevent the elements from wrapping to the next line */
}

/* Define the scrollViewVert class */
.scrollViewVert {
  height: inherit; /* Inherit the height from the parent element */
  width: inherit; /* Inherit the width from the parent element */
  overflow-x: hidden; /* Hide the horizontal overflow content */
  overflow-y: auto; /* Make the view vertically scrollable */
  position: relative; /* Set the position to relative */
}

/* Define the pageView class */
.contentWrapper {
  height: 100%; /* Inherit the height from the parent element */
  width: 100%; /* Inherit the width from the parent element */
}

.withPrimaryBackground {
  background-color: rgba(14, 16, 90, 0.2);
  -webkit-backdrop-filter: saturate(180%) contrast(120%) blur(4px);
          backdrop-filter: saturate(180%) contrast(120%) blur(4px);
}

.paddingSmall {
  padding: 4px 10px;
}

/* Navigation Bar Base */
.navBar {
  display: flex;
  align-items: center;
}
.navBar .itemGroup {
  display: flex;
  flex: 1;
}
.navBar .itemGroup.onLeft {
  margin-left: 0;
  justify-content: flex-start;
}
.navBar .itemGroup.onLeft * {
  margin-right: 0.4rem;
}
.navBar .itemGroup.onRight {
  margin-left: auto;
  justify-content: flex-end;
}
.navBar .itemGroup.onRight * {
  margin-left: 0.4rem;
}
.navBar .itemGroup.onCenter {
  margin: 0 auto;
  justify-content: center;
}
.navBar .itemGroup.onCenter * {
  margin: 0 0.4rem;
}
.navBar .navItem, .navBar .navBrand {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
.navBar .navItem.outline, .navBar .navBrand.outline {
  border: 2px solid #eaeaca;
}
.navBar .navItem.underline, .navBar .navBrand.underline {
  border-bottom: 2px solid #eaeaca;
}
.navBar .navItem.solid, .navBar .navBrand.solid {
  background-color: #0e105a;
  color: #eaeaca;
}
.navBar .navItem:hover, .navBar .navBrand:hover {
  filter: contrast(125%);
  transition: 360ms;
}
.navBar .navItem:active, .navBar .navBrand:active {
  filter: contrast(125%) saturate(160%);
}
.navBar .navBrand {
  font-size: 1.6rem;
  font-weight: bold;
}

.sideNav {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 0.2rem;
}
.sideNav .itemGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sideNav .itemGroup.onTop {
  justify-content: flex-start;
}
.sideNav .itemGroup.onTop * {
  margin-top: 0.4rem;
}
.sideNav .itemGroup.onBottom {
  justify-content: flex-end;
}
.sideNav .itemGroup.onBottom * {
  margin-bottom: 0.4rem;
}
.sideNav .itemGroup.onMiddle {
  align-content: center;
}
.sideNav .itemGroup.onMiddle * {
  margin: 0 0.4rem;
}
.sideNav .navItem, .sideNav .navTitle, .sideNav .navBrand {
  font-size: 0.9rem;
  font-weight: 500;
  border: 2px solid transparent;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}
.sideNav .navItem.outline, .sideNav .navTitle.outline, .sideNav .navBrand.outline {
  border: 2px solid #eaeaca;
}
.sideNav .navItem.underline, .sideNav .navTitle.underline, .sideNav .navBrand.underline {
  border-bottom: 2px solid #eaeaca;
}
.sideNav .navItem.solid, .sideNav .navTitle.solid, .sideNav .navBrand.solid {
  background-color: #0e105a;
  color: #eaeaca;
}
.sideNav .navItem:hover, .sideNav .navTitle:hover, .sideNav .navBrand:hover {
  filter: contrast(125%);
  transition: 360ms;
}
.sideNav .navItem:active, .sideNav .navTitle:active, .sideNav .navBrand:active {
  filter: contrast(125%) saturate(160%);
}
.sideNav .navItem {
  color: #dadaba;
  cursor: pointer;
}
.sideNav .navItem:hover {
  background-color: #0e105a;
}
.sideNav .navItem:active {
  background-color: #3e40ba;
}
.sideNav .navItem.active {
  background-color: #3e40ba;
  filter: saturate(160%) contrast(200%);
}
.sideNav .navBrand {
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 0px;
}
.sideNav .navTitle {
  font-size: 1.4rem;
  font-weight: bold;
  color: #eaeaca;
  border-radius: 3px;
}

.taCenter {
  text-align: center;
}

.taLeft {
  text-align: left;
}

.taRight {
  text-align: right;
}

.taJustify {
  text-align: right;
}

.noDecoration {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */