@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  width: 100%;
  height: 100vh;
  background: 
  radial-gradient(circle at top left, #fafada, transparent),
  radial-gradient(circle at top right, #dafafa, transparent),
  radial-gradient(circle at bottom right, #fadafa, transparent),
  radial-gradient(circle at bottom left, #fafafa, transparent)
  ;
}
body{
  backdrop-filter: invert(100%) blur(6px);
  width: 100%;
  height: 100vh;
  background-color: transparent;
  color: #fafafa;
}
.buttonLink{
  padding: 0.2rem 0.3rem;
  background-color: #006aad;
  color: #dafafa;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
}