/*normalize basic stuff for all css elements*/
* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  outline: none;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

/*
//Global Variables - Light
$primaryBackground: #0e115a;
$primaryText: #1e1e1e;

$accentBackground: #3e40ba;
$accentText: #0e0e0e;
*/
.gridRow {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
}
.gridRow .colWd-0 {
  display: none;
}
.gridRow .colWd-1 {
  flex: calc(1 / 15);
  min-width: calc(6.6666666667% * 1);
  max-width: calc(6.6666666667% * 1);
}
.gridRow .colWd-2 {
  flex: calc(2 / 15);
  min-width: calc(6.6666666667% * 2);
  max-width: calc(6.6666666667% * 2);
}
.gridRow .colWd-3 {
  flex: calc(3 / 15);
  min-width: calc(6.6666666667% * 3);
  max-width: calc(6.6666666667% * 3);
}
.gridRow .colWd-4 {
  flex: calc(4 / 15);
  min-width: calc(6.6666666667% * 4);
  max-width: calc(6.6666666667% * 4);
}
.gridRow .colWd-5 {
  flex: calc(5 / 15);
  min-width: calc(6.6666666667% * 5);
  max-width: calc(6.6666666667% * 5);
}
.gridRow .colWd-6 {
  flex: calc(6 / 15);
  min-width: calc(6.6666666667% * 6);
  max-width: calc(6.6666666667% * 6);
}
.gridRow .colWd-7 {
  flex: calc(7 / 15);
  min-width: calc(6.6666666667% * 7);
  max-width: calc(6.6666666667% * 7);
}
.gridRow .colWd-8 {
  flex: calc(8 / 15);
  min-width: calc(6.6666666667% * 8);
  max-width: calc(6.6666666667% * 8);
}
.gridRow .colWd-9 {
  flex: calc(9 / 15);
  min-width: calc(6.6666666667% * 9);
  max-width: calc(6.6666666667% * 9);
}
.gridRow .colWd-10 {
  flex: calc(10 / 15);
  min-width: calc(6.6666666667% * 10);
  max-width: calc(6.6666666667% * 10);
}
.gridRow .colWd-11 {
  flex: calc(11 / 15);
  min-width: calc(6.6666666667% * 11);
  max-width: calc(6.6666666667% * 11);
}
.gridRow .colWd-12 {
  flex: calc(12 / 15);
  min-width: calc(6.6666666667% * 12);
  max-width: calc(6.6666666667% * 12);
}
.gridRow .colWd-13 {
  flex: calc(13 / 15);
  min-width: calc(6.6666666667% * 13);
  max-width: calc(6.6666666667% * 13);
}
.gridRow .colWd-14 {
  flex: calc(14 / 15);
  min-width: calc(6.6666666667% * 14);
  max-width: calc(6.6666666667% * 14);
}
.gridRow .colWd-15 {
  flex: calc(15 / 15);
  min-width: calc(6.6666666667% * 15);
  max-width: calc(6.6666666667% * 15);
}
.gridRow .gutterWd-0 {
  display: none;
}
.gridRow .gutterWd-1 {
  content: " ";
  flex: calc(1 / 60);
  min-width: calc(1.6666666667% * 1);
  max-width: calc(1.6666666667% * 1);
}
.gridRow .gutterWd-2 {
  content: " ";
  flex: calc(2 / 60);
  min-width: calc(1.6666666667% * 2);
  max-width: calc(1.6666666667% * 2);
}
.gridRow .gutterWd-3 {
  content: " ";
  flex: calc(3 / 60);
  min-width: calc(1.6666666667% * 3);
  max-width: calc(1.6666666667% * 3);
}
.gridRow .gutterWd-4 {
  content: " ";
  flex: calc(4 / 60);
  min-width: calc(1.6666666667% * 4);
  max-width: calc(1.6666666667% * 4);
}
.gridRow .gutterWd-5 {
  content: " ";
  flex: calc(5 / 60);
  min-width: calc(1.6666666667% * 5);
  max-width: calc(1.6666666667% * 5);
}
.gridRow .gutterWd-6 {
  content: " ";
  flex: calc(6 / 60);
  min-width: calc(1.6666666667% * 6);
  max-width: calc(1.6666666667% * 6);
}
.gridRow .gutterWd-7 {
  content: " ";
  flex: calc(7 / 60);
  min-width: calc(1.6666666667% * 7);
  max-width: calc(1.6666666667% * 7);
}
.gridRow .gutterWd-8 {
  content: " ";
  flex: calc(8 / 60);
  min-width: calc(1.6666666667% * 8);
  max-width: calc(1.6666666667% * 8);
}
.gridRow .gutterWd-9 {
  content: " ";
  flex: calc(9 / 60);
  min-width: calc(1.6666666667% * 9);
  max-width: calc(1.6666666667% * 9);
}
.gridRow .gutterWd-10 {
  content: " ";
  flex: calc(10 / 60);
  min-width: calc(1.6666666667% * 10);
  max-width: calc(1.6666666667% * 10);
}
.gridRow .gutterWd-11 {
  content: " ";
  flex: calc(11 / 60);
  min-width: calc(1.6666666667% * 11);
  max-width: calc(1.6666666667% * 11);
}
.gridRow .gutterWd-12 {
  content: " ";
  flex: calc(12 / 60);
  min-width: calc(1.6666666667% * 12);
  max-width: calc(1.6666666667% * 12);
}
.gridRow .gutterWd-13 {
  content: " ";
  flex: calc(13 / 60);
  min-width: calc(1.6666666667% * 13);
  max-width: calc(1.6666666667% * 13);
}
.gridRow .gutterWd-14 {
  content: " ";
  flex: calc(14 / 60);
  min-width: calc(1.6666666667% * 14);
  max-width: calc(1.6666666667% * 14);
}
.gridRow .gutterWd-15 {
  content: " ";
  flex: calc(15 / 60);
  min-width: calc(1.6666666667% * 15);
  max-width: calc(1.6666666667% * 15);
}
.gridRow .gutterWd-16 {
  content: " ";
  flex: calc(16 / 60);
  min-width: calc(1.6666666667% * 16);
  max-width: calc(1.6666666667% * 16);
}
.gridRow .gutterWd-17 {
  content: " ";
  flex: calc(17 / 60);
  min-width: calc(1.6666666667% * 17);
  max-width: calc(1.6666666667% * 17);
}
.gridRow .gutterWd-18 {
  content: " ";
  flex: calc(18 / 60);
  min-width: calc(1.6666666667% * 18);
  max-width: calc(1.6666666667% * 18);
}
.gridRow .gutterWd-19 {
  content: " ";
  flex: calc(19 / 60);
  min-width: calc(1.6666666667% * 19);
  max-width: calc(1.6666666667% * 19);
}
.gridRow .gutterWd-20 {
  content: " ";
  flex: calc(20 / 60);
  min-width: calc(1.6666666667% * 20);
  max-width: calc(1.6666666667% * 20);
}
.gridRow .gutterWd-21 {
  content: " ";
  flex: calc(21 / 60);
  min-width: calc(1.6666666667% * 21);
  max-width: calc(1.6666666667% * 21);
}
.gridRow .gutterWd-22 {
  content: " ";
  flex: calc(22 / 60);
  min-width: calc(1.6666666667% * 22);
  max-width: calc(1.6666666667% * 22);
}
.gridRow .gutterWd-23 {
  content: " ";
  flex: calc(23 / 60);
  min-width: calc(1.6666666667% * 23);
  max-width: calc(1.6666666667% * 23);
}
.gridRow .gutterWd-24 {
  content: " ";
  flex: calc(24 / 60);
  min-width: calc(1.6666666667% * 24);
  max-width: calc(1.6666666667% * 24);
}
.gridRow .gutterWd-25 {
  content: " ";
  flex: calc(25 / 60);
  min-width: calc(1.6666666667% * 25);
  max-width: calc(1.6666666667% * 25);
}
.gridRow .gutterWd-26 {
  content: " ";
  flex: calc(26 / 60);
  min-width: calc(1.6666666667% * 26);
  max-width: calc(1.6666666667% * 26);
}
.gridRow .gutterWd-27 {
  content: " ";
  flex: calc(27 / 60);
  min-width: calc(1.6666666667% * 27);
  max-width: calc(1.6666666667% * 27);
}
.gridRow .gutterWd-28 {
  content: " ";
  flex: calc(28 / 60);
  min-width: calc(1.6666666667% * 28);
  max-width: calc(1.6666666667% * 28);
}
.gridRow .gutterWd-29 {
  content: " ";
  flex: calc(29 / 60);
  min-width: calc(1.6666666667% * 29);
  max-width: calc(1.6666666667% * 29);
}
.gridRow .gutterWd-30 {
  content: " ";
  flex: calc(30 / 60);
  min-width: calc(1.6666666667% * 30);
  max-width: calc(1.6666666667% * 30);
}
.gridRow .gutterWd-31 {
  content: " ";
  flex: calc(31 / 60);
  min-width: calc(1.6666666667% * 31);
  max-width: calc(1.6666666667% * 31);
}
.gridRow .gutterWd-32 {
  content: " ";
  flex: calc(32 / 60);
  min-width: calc(1.6666666667% * 32);
  max-width: calc(1.6666666667% * 32);
}
.gridRow .gutterWd-33 {
  content: " ";
  flex: calc(33 / 60);
  min-width: calc(1.6666666667% * 33);
  max-width: calc(1.6666666667% * 33);
}
.gridRow .gutterWd-34 {
  content: " ";
  flex: calc(34 / 60);
  min-width: calc(1.6666666667% * 34);
  max-width: calc(1.6666666667% * 34);
}
.gridRow .gutterWd-35 {
  content: " ";
  flex: calc(35 / 60);
  min-width: calc(1.6666666667% * 35);
  max-width: calc(1.6666666667% * 35);
}
.gridRow .gutterWd-36 {
  content: " ";
  flex: calc(36 / 60);
  min-width: calc(1.6666666667% * 36);
  max-width: calc(1.6666666667% * 36);
}
.gridRow .gutterWd-37 {
  content: " ";
  flex: calc(37 / 60);
  min-width: calc(1.6666666667% * 37);
  max-width: calc(1.6666666667% * 37);
}
.gridRow .gutterWd-38 {
  content: " ";
  flex: calc(38 / 60);
  min-width: calc(1.6666666667% * 38);
  max-width: calc(1.6666666667% * 38);
}
.gridRow .gutterWd-39 {
  content: " ";
  flex: calc(39 / 60);
  min-width: calc(1.6666666667% * 39);
  max-width: calc(1.6666666667% * 39);
}
.gridRow .gutterWd-40 {
  content: " ";
  flex: calc(40 / 60);
  min-width: calc(1.6666666667% * 40);
  max-width: calc(1.6666666667% * 40);
}
.gridRow .gutterWd-41 {
  content: " ";
  flex: calc(41 / 60);
  min-width: calc(1.6666666667% * 41);
  max-width: calc(1.6666666667% * 41);
}
.gridRow .gutterWd-42 {
  content: " ";
  flex: calc(42 / 60);
  min-width: calc(1.6666666667% * 42);
  max-width: calc(1.6666666667% * 42);
}
.gridRow .gutterWd-43 {
  content: " ";
  flex: calc(43 / 60);
  min-width: calc(1.6666666667% * 43);
  max-width: calc(1.6666666667% * 43);
}
.gridRow .gutterWd-44 {
  content: " ";
  flex: calc(44 / 60);
  min-width: calc(1.6666666667% * 44);
  max-width: calc(1.6666666667% * 44);
}
.gridRow .gutterWd-45 {
  content: " ";
  flex: calc(45 / 60);
  min-width: calc(1.6666666667% * 45);
  max-width: calc(1.6666666667% * 45);
}
.gridRow .gutterWd-46 {
  content: " ";
  flex: calc(46 / 60);
  min-width: calc(1.6666666667% * 46);
  max-width: calc(1.6666666667% * 46);
}
.gridRow .gutterWd-47 {
  content: " ";
  flex: calc(47 / 60);
  min-width: calc(1.6666666667% * 47);
  max-width: calc(1.6666666667% * 47);
}
.gridRow .gutterWd-48 {
  content: " ";
  flex: calc(48 / 60);
  min-width: calc(1.6666666667% * 48);
  max-width: calc(1.6666666667% * 48);
}
.gridRow .gutterWd-49 {
  content: " ";
  flex: calc(49 / 60);
  min-width: calc(1.6666666667% * 49);
  max-width: calc(1.6666666667% * 49);
}
.gridRow .gutterWd-50 {
  content: " ";
  flex: calc(50 / 60);
  min-width: calc(1.6666666667% * 50);
  max-width: calc(1.6666666667% * 50);
}
.gridRow .gutterWd-51 {
  content: " ";
  flex: calc(51 / 60);
  min-width: calc(1.6666666667% * 51);
  max-width: calc(1.6666666667% * 51);
}
.gridRow .gutterWd-52 {
  content: " ";
  flex: calc(52 / 60);
  min-width: calc(1.6666666667% * 52);
  max-width: calc(1.6666666667% * 52);
}
.gridRow .gutterWd-53 {
  content: " ";
  flex: calc(53 / 60);
  min-width: calc(1.6666666667% * 53);
  max-width: calc(1.6666666667% * 53);
}
.gridRow .gutterWd-54 {
  content: " ";
  flex: calc(54 / 60);
  min-width: calc(1.6666666667% * 54);
  max-width: calc(1.6666666667% * 54);
}
.gridRow .gutterWd-55 {
  content: " ";
  flex: calc(55 / 60);
  min-width: calc(1.6666666667% * 55);
  max-width: calc(1.6666666667% * 55);
}
.gridRow .gutterWd-56 {
  content: " ";
  flex: calc(56 / 60);
  min-width: calc(1.6666666667% * 56);
  max-width: calc(1.6666666667% * 56);
}
.gridRow .gutterWd-57 {
  content: " ";
  flex: calc(57 / 60);
  min-width: calc(1.6666666667% * 57);
  max-width: calc(1.6666666667% * 57);
}
.gridRow .gutterWd-58 {
  content: " ";
  flex: calc(58 / 60);
  min-width: calc(1.6666666667% * 58);
  max-width: calc(1.6666666667% * 58);
}
.gridRow .gutterWd-59 {
  content: " ";
  flex: calc(59 / 60);
  min-width: calc(1.6666666667% * 59);
  max-width: calc(1.6666666667% * 59);
}
.gridRow .gutterWd-60 {
  content: " ";
  flex: calc(60 / 60);
  min-width: calc(1.6666666667% * 60);
  max-width: calc(1.6666666667% * 60);
}

@media screen and (aspect-ratio: 1) {
  .gridRow {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
  }
  .gridRow .colWd-0-sq {
    display: none;
  }
  .gridRow .colWd-1-sq {
    flex: calc(1 / 15);
    min-width: calc(6.6666666667% * 1);
    max-width: calc(6.6666666667% * 1);
  }
  .gridRow .colWd-2-sq {
    flex: calc(2 / 15);
    min-width: calc(6.6666666667% * 2);
    max-width: calc(6.6666666667% * 2);
  }
  .gridRow .colWd-3-sq {
    flex: calc(3 / 15);
    min-width: calc(6.6666666667% * 3);
    max-width: calc(6.6666666667% * 3);
  }
  .gridRow .colWd-4-sq {
    flex: calc(4 / 15);
    min-width: calc(6.6666666667% * 4);
    max-width: calc(6.6666666667% * 4);
  }
  .gridRow .colWd-5-sq {
    flex: calc(5 / 15);
    min-width: calc(6.6666666667% * 5);
    max-width: calc(6.6666666667% * 5);
  }
  .gridRow .colWd-6-sq {
    flex: calc(6 / 15);
    min-width: calc(6.6666666667% * 6);
    max-width: calc(6.6666666667% * 6);
  }
  .gridRow .colWd-7-sq {
    flex: calc(7 / 15);
    min-width: calc(6.6666666667% * 7);
    max-width: calc(6.6666666667% * 7);
  }
  .gridRow .colWd-8-sq {
    flex: calc(8 / 15);
    min-width: calc(6.6666666667% * 8);
    max-width: calc(6.6666666667% * 8);
  }
  .gridRow .colWd-9-sq {
    flex: calc(9 / 15);
    min-width: calc(6.6666666667% * 9);
    max-width: calc(6.6666666667% * 9);
  }
  .gridRow .colWd-10-sq {
    flex: calc(10 / 15);
    min-width: calc(6.6666666667% * 10);
    max-width: calc(6.6666666667% * 10);
  }
  .gridRow .colWd-11-sq {
    flex: calc(11 / 15);
    min-width: calc(6.6666666667% * 11);
    max-width: calc(6.6666666667% * 11);
  }
  .gridRow .colWd-12-sq {
    flex: calc(12 / 15);
    min-width: calc(6.6666666667% * 12);
    max-width: calc(6.6666666667% * 12);
  }
  .gridRow .colWd-13-sq {
    flex: calc(13 / 15);
    min-width: calc(6.6666666667% * 13);
    max-width: calc(6.6666666667% * 13);
  }
  .gridRow .colWd-14-sq {
    flex: calc(14 / 15);
    min-width: calc(6.6666666667% * 14);
    max-width: calc(6.6666666667% * 14);
  }
  .gridRow .colWd-15-sq {
    flex: calc(15 / 15);
    min-width: calc(6.6666666667% * 15);
    max-width: calc(6.6666666667% * 15);
  }
}
@media screen and (max-aspect-ratio: 1) {
  .gridRow {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
  }
  .gridRow .colWd-0-sm {
    display: none;
  }
  .gridRow .colWd-1-sm {
    flex: calc(1 / 15);
    min-width: calc(6.6666666667% * 1);
    max-width: calc(6.6666666667% * 1);
  }
  .gridRow .colWd-2-sm {
    flex: calc(2 / 15);
    min-width: calc(6.6666666667% * 2);
    max-width: calc(6.6666666667% * 2);
  }
  .gridRow .colWd-3-sm {
    flex: calc(3 / 15);
    min-width: calc(6.6666666667% * 3);
    max-width: calc(6.6666666667% * 3);
  }
  .gridRow .colWd-4-sm {
    flex: calc(4 / 15);
    min-width: calc(6.6666666667% * 4);
    max-width: calc(6.6666666667% * 4);
  }
  .gridRow .colWd-5-sm {
    flex: calc(5 / 15);
    min-width: calc(6.6666666667% * 5);
    max-width: calc(6.6666666667% * 5);
  }
  .gridRow .colWd-6-sm {
    flex: calc(6 / 15);
    min-width: calc(6.6666666667% * 6);
    max-width: calc(6.6666666667% * 6);
  }
  .gridRow .colWd-7-sm {
    flex: calc(7 / 15);
    min-width: calc(6.6666666667% * 7);
    max-width: calc(6.6666666667% * 7);
  }
  .gridRow .colWd-8-sm {
    flex: calc(8 / 15);
    min-width: calc(6.6666666667% * 8);
    max-width: calc(6.6666666667% * 8);
  }
  .gridRow .colWd-9-sm {
    flex: calc(9 / 15);
    min-width: calc(6.6666666667% * 9);
    max-width: calc(6.6666666667% * 9);
  }
  .gridRow .colWd-10-sm {
    flex: calc(10 / 15);
    min-width: calc(6.6666666667% * 10);
    max-width: calc(6.6666666667% * 10);
  }
  .gridRow .colWd-11-sm {
    flex: calc(11 / 15);
    min-width: calc(6.6666666667% * 11);
    max-width: calc(6.6666666667% * 11);
  }
  .gridRow .colWd-12-sm {
    flex: calc(12 / 15);
    min-width: calc(6.6666666667% * 12);
    max-width: calc(6.6666666667% * 12);
  }
  .gridRow .colWd-13-sm {
    flex: calc(13 / 15);
    min-width: calc(6.6666666667% * 13);
    max-width: calc(6.6666666667% * 13);
  }
  .gridRow .colWd-14-sm {
    flex: calc(14 / 15);
    min-width: calc(6.6666666667% * 14);
    max-width: calc(6.6666666667% * 14);
  }
  .gridRow .colWd-15-sm {
    flex: calc(15 / 15);
    min-width: calc(6.6666666667% * 15);
    max-width: calc(6.6666666667% * 15);
  }
}
@media screen and (min-aspect-ratio: 1) {
  .gridRow {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
  }
  .gridRow.withBorder {
    border: 1px solid #fafafa;
  }
  .gridRow.withBorder * {
    border: 1px solid #fafafa;
  }
  .gridRow .colWd-0-ld {
    display: none;
  }
  .gridRow .colWd-1-ld {
    flex: calc(1 / 15);
    min-width: calc(6.6666666667% * 1);
    max-width: calc(6.6666666667% * 1);
  }
  .gridRow .colWd-2-ld {
    flex: calc(2 / 15);
    min-width: calc(6.6666666667% * 2);
    max-width: calc(6.6666666667% * 2);
  }
  .gridRow .colWd-3-ld {
    flex: calc(3 / 15);
    min-width: calc(6.6666666667% * 3);
    max-width: calc(6.6666666667% * 3);
  }
  .gridRow .colWd-4-ld {
    flex: calc(4 / 15);
    min-width: calc(6.6666666667% * 4);
    max-width: calc(6.6666666667% * 4);
  }
  .gridRow .colWd-5-ld {
    flex: calc(5 / 15);
    min-width: calc(6.6666666667% * 5);
    max-width: calc(6.6666666667% * 5);
  }
  .gridRow .colWd-6-ld {
    flex: calc(6 / 15);
    min-width: calc(6.6666666667% * 6);
    max-width: calc(6.6666666667% * 6);
  }
  .gridRow .colWd-7-ld {
    flex: calc(7 / 15);
    min-width: calc(6.6666666667% * 7);
    max-width: calc(6.6666666667% * 7);
  }
  .gridRow .colWd-8-ld {
    flex: calc(8 / 15);
    min-width: calc(6.6666666667% * 8);
    max-width: calc(6.6666666667% * 8);
  }
  .gridRow .colWd-9-ld {
    flex: calc(9 / 15);
    min-width: calc(6.6666666667% * 9);
    max-width: calc(6.6666666667% * 9);
  }
  .gridRow .colWd-10-ld {
    flex: calc(10 / 15);
    min-width: calc(6.6666666667% * 10);
    max-width: calc(6.6666666667% * 10);
  }
  .gridRow .colWd-11-ld {
    flex: calc(11 / 15);
    min-width: calc(6.6666666667% * 11);
    max-width: calc(6.6666666667% * 11);
  }
  .gridRow .colWd-12-ld {
    flex: calc(12 / 15);
    min-width: calc(6.6666666667% * 12);
    max-width: calc(6.6666666667% * 12);
  }
  .gridRow .colWd-13-ld {
    flex: calc(13 / 15);
    min-width: calc(6.6666666667% * 13);
    max-width: calc(6.6666666667% * 13);
  }
  .gridRow .colWd-14-ld {
    flex: calc(14 / 15);
    min-width: calc(6.6666666667% * 14);
    max-width: calc(6.6666666667% * 14);
  }
  .gridRow .colWd-15-ld {
    flex: calc(15 / 15);
    min-width: calc(6.6666666667% * 15);
    max-width: calc(6.6666666667% * 15);
  }
}
.rowLeft {
  justify-content: flex-start;
  justify-items: flex-start;
}

.rowRight {
  justify-content: flex-end;
  justify-items: flex-end;
}

.rowCenter {
  justify-content: center;
  justify-items: center;
}

.rowTop {
  align-items: flex-start;
  align-content: flex-start;
}

.rowBottom {
  align-items: flex-end;
  align-content: flex-end;
}

.rowMiddle {
  align-items: center;
  align-content: center;
}

/* Define the row height classes */
.colHi-auto {
  height: -moz-max-content;
  height: max-content;
}

.colHi-0 {
  height: calc(10vh * 0);
}

.colHi-1 {
  height: calc(10vh * 1);
}

.colHi-2 {
  height: calc(10vh * 2);
}

.colHi-3 {
  height: calc(10vh * 3);
}

.colHi-4 {
  height: calc(10vh * 4);
}

.colHi-5 {
  height: calc(10vh * 5);
}

.colHi-6 {
  height: calc(10vh * 6);
}

.colHi-7 {
  height: calc(10vh * 7);
}

.colHi-8 {
  height: calc(10vh * 8);
}

.colHi-9 {
  height: calc(10vh * 9);
}

.colHi-10 {
  height: calc(10vh * 10);
}

/* Define the pageView class */
.pageView {
  height: inherit; /* Inherit the height from the parent element */
  width: inherit; /* Inherit the width from the parent element */
  overflow: auto; /* Hide the overflow content */
  position: relative; /* Set the position to relative */
}

/* Define the listViewHorizontal class */
.listViewHorizontal {
  height: initial; /* Inherit the height from the parent element */
  width: inherit; /* Inherit the width from the parent element */
  overflow-y: auto; /* Hide the horizontal overflow content */
  overflow-y: hidden; /* Make the view vertically scrollable */
  position: relative; /* Set the position to relative */
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}
.listViewHorizontal * {
  flex: 1;
}

/* Define the listViewVertical class */
.listViewVertical {
  height: inherit; /* Inherit the height from the parent element */
  width: inherit; /* Inherit the width from the parent element */
  overflow-x: hidden; /* Hide the horizontal overflow content */
  overflow-y: auto; /* Make the view vertically scrollable */
  position: relative; /* Set the position to relative */
}

/* Define the contentView class */
.contentView {
  height: 100%; /* Takes up 100% height from the parent element */
  width: 100%; /* Takes up 100% width from the parent element */
  overflow: auto; /* Hide the overflow content */
  position: relative; /* Set the position to relative */
}

/*
//Global Variables - Light
$primaryBackground: #0e115a;
$primaryText: #1e1e1e;

$accentBackground: #3e40ba;
$accentText: #0e0e0e;
*/
/* Navigation Bar Base */
.navBar {
  display: flex;
  align-items: center;
}
.navBar .itemGroup {
  display: flex;
  flex: 1;
}
.navBar .itemGroup.onLeft {
  margin-left: 0;
  justify-content: flex-start;
}
.navBar .itemGroup.onLeft * {
  margin-right: 0.4rem;
}
.navBar .itemGroup.onRight {
  margin-left: auto;
  justify-content: flex-end;
}
.navBar .itemGroup.onRight * {
  margin-left: 0.4rem;
}
.navBar .itemGroup.onCenter {
  margin: 0 auto;
  justify-content: center;
}
.navBar .itemGroup.onCenter * {
  margin: 0 0.4rem;
}
.navBar .navItem, .navBar .navBrand {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
.navBar .navItem.outline, .navBar .navBrand.outline {
  border: 2px solid #fafafa;
}
.navBar .navItem.underline, .navBar .navBrand.underline {
  border-bottom: 2px solid #fafafa;
}
.navBar .navItem.solid, .navBar .navBrand.solid {
  background-color: #0e105a;
  color: #fafafa;
}
.navBar .navItem:hover, .navBar .navBrand:hover {
  filter: contrast(125%);
  transition: 360ms;
}
.navBar .navItem:active, .navBar .navBrand:active {
  filter: contrast(125%) saturate(160%);
}
.navBar .navBrand {
  font-size: 1.6rem;
  font-weight: bold;
}

.sideNav {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}
.sideNav .itemGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sideNav .itemGroup.onTop {
  justify-content: flex-start;
}
.sideNav .itemGroup.onTop * {
  margin-top: 0.4rem;
}
.sideNav .itemGroup.onBottom {
  justify-content: flex-end;
}
.sideNav .itemGroup.onBottom * {
  margin-bottom: 0.4rem;
}
.sideNav .itemGroup.onMiddle {
  align-content: center;
}
.sideNav .itemGroup.onMiddle * {
  margin: 0 0.4rem;
}
.sideNav .navItem, .sideNav .navTitle, .sideNav .navBrand {
  font-size: 0.9rem;
  font-weight: 500;
  border: 2px solid transparent;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
.sideNav .navItem.outline, .sideNav .navTitle.outline, .sideNav .navBrand.outline {
  border: 2px solid #fafafa;
}
.sideNav .navItem.underline, .sideNav .navTitle.underline, .sideNav .navBrand.underline {
  border-bottom: 2px solid #fafafa;
}
.sideNav .navItem.solid, .sideNav .navTitle.solid, .sideNav .navBrand.solid {
  background-color: #0e105a;
  color: #fafafa;
}
.sideNav .navItem:hover, .sideNav .navTitle:hover, .sideNav .navBrand:hover {
  filter: contrast(125%);
  transition: 360ms;
}
.sideNav .navItem:active, .sideNav .navTitle:active, .sideNav .navBrand:active {
  filter: contrast(125%) saturate(160%);
}
.sideNav .navItem {
  color: #eaeaea;
}
.sideNav .navItem:hover {
  background-color: #0e105a;
}
.sideNav .navItem:active {
  background-color: #3e40ba;
}
.sideNav .navItem.active {
  background-color: #3e40ba;
  filter: saturate(160%) contrast(200%);
}
.sideNav .navBrand {
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 0px;
}
.sideNav .navTitle {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fafafa;
  border-radius: 3px;
}

/*
//Global Variables - Light
$primaryBackground: #0e115a;
$primaryText: #1e1e1e;

$accentBackground: #3e40ba;
$accentText: #0e0e0e;
*/
* {
  font-weight: regular;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  width: inherit;
}

.title {
  font-size: 2.83rem;
  font-weight: 800;
  padding: 0rem 2vw 0rem 0rem;
}

.subtitle {
  font-size: 1.75rem;
  padding: 0rem 2vw 0rem 0rem;
}

.text {
  font-size: 1.08rem;
  padding: 0rem 2vw 0rem 0rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-family: italic;
}

.underline {
  text-decoration: underline;
}

.taCenter {
  text-align: center;
}

.taLeft {
  text-align: left;
}

.taRight {
  text-align: right;
}

.taJustify {
  text-align: justify;
}

.noDecoration {
  text-decoration: none;
}

ul, ol {
  margin-left: 1rem;
}

.objAligner {
  display: flex;
}
.objAligner .objLeft {
  display: block;
  margin-left: 0;
}
.objAligner .objRight {
  display: block;
  margin-left: auto;
}
.objAligner .objCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.objAligner .objTop {
  align-self: top;
}
.objAligner .objBottom {
  align-self: bottom;
}
.objAligner .objMiddle {
  align-self: center;
}

.inlineCode {
  color: #eaeaea;
  padding: 0 0.2rem;
  font-family: monospace;
  font-style: italic;
  font-size: 1.08rem;
}

.codeBlock {
  margin: 1rem 2vw 0.5rem 0rem;
}
.codeBlock .codeLanguage {
  width: 100%;
  padding: 0.4rem 0.6rem;
  font-size: 1.08rem;
  font-weight: bold;
}
.codeBlock .codeText {
  white-space: pre;
  text-wrap: wrap;
  padding: 1rem 0.6rem;
  font-family: monospace;
  font-weight: 400;
}

.previewBlock {
  margin: 1rem 2vw 0.5rem 0rem;
}
.previewBlock .previewTitle {
  width: 100%;
  padding: 0.4rem 0.6rem;
  font-size: 1.08rem;
  font-weight: bold;
}
.previewBlock .previewRender {
  display: block;
  padding: 1rem 0.6rem;
  font-weight: 400;
}

.smoothEdge {
  border-radius: 0.2rem;
}

.smootherEdge {
  border-radius: 0.4rem;
}

.roundedEdge {
  border-radius: 1rem;
}

.circularEdge {
  border-radius: 100%;
}

.paddingSmall {
  padding: 0.5rem 1.25rem;
}

.marginSmall {
  padding: 4px 10px;
}

.noBorders {
  border: none;
}

.bgDark {
  background: #0e0e0e;
}

.bgLight {
  background: #fafafa;
}

.bgBrand {
  background: #0e105a;
}

.bgAccent {
  background: #3e40ba;
}

.textDark {
  color: #0e0e0e;
}

.textLight {
  color: #fafafa;
}

.textBrand {
  color: #0e105a;
}

.textAccent {
  color: #3e40ba;
}

.colorDark {
  border-color: #0e0e0e;
}

.colorLight {
  background: #fafafa;
}

.colorBrand {
  background: #0e105a;
}

.colorAccent {
  background: #3e40ba;
}

.border.styleSolid {
  border-style: solid;
}
.border.styleDashed {
  border-style: dashed;
}
.border.styleDbldash {
  border-style: double;
}
.border.styleDotted {
  border-style: dotted;
}
.border.onlyLeft {
  border-right: none;
  border-top: none;
  border-bottom: none;
}
.border.onlyRight {
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.border.onlyTop {
  border-right: none;
  border-left: none;
  border-bottom: none;
}
.border.onlyBottom {
  border-right: none;
  border-top: none;
  border-left: none;
}
.border.thin {
  border-width: 1px;
}
.border.fit {
  border-width: 2px;
}
.border.fat {
  border-width: 4px;
}
.border.obese {
  border-width: 8px;
}
.border.colorDark {
  border-color: #0e0e0e;
}
.border.colorLight {
  background: #fafafa;
}
.border.colorBrand {
  background: #0e105a;
}
.border.colorAccent {
  background: #3e40ba;
}
.border.colorTransparent {
  background: #3e40ba;
}

a button {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */